.sconsign.dblite
*.xcuserdatad
xcshareddata/
/apportable/xcodebuild.out
/apportable/xcodesettings.out
/Spin.approj/targets/Spin/Release.generated
/Spin.approj/targets/Spin/Release.final
.sconsign.dblite
.DS_Store
